<div class="container cont" id="page-container">
    <form [formGroup]="formulario" class="form-group">
        <div class="row">
            <div class="col-sm-6 blue">
                <h3>Imagen</h3>
                <input type="file" id="inpt-img" formControlName="imagen" multiple>
            </div>
            <div class="col-sm-6 pink">
                <h3>Detalles</h3>
                <input class="form-control" type="text" formControlName="nombre" placeholder="nombre del producto">
                <br>
                <input class="form-control" type="text" formControlName="precio" placeholder="precio del producto">
                <br>
                <textarea placeholder="descripcion del producto" rows="8" cols="60" formControlName="descripcion"></textarea>
            </div>
        </div>
        <button class="btn btn-primary" (click)="agregarProducto()">Agregar</button>
    </form>
    
</div>

<script>
    
</script>