.blue {
    background-color: lightblue;
    background-size: 100% auto;
    padding: 50px;
    border-radius: 10px;
}

.pink{
    background-color: pink;
    background-size: 100% auto;
    padding: 50px ;
    border-radius: 10px;
}

.cont{
    margin-top: 50px;
}

#page-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;  
}

button {
    margin-left: 43.2%;
    margin-top: 25px;
    width: 150px;
}