.blue {
    background-color: lightblue;
    background-size: 100% auto;
    padding: 50px;
    border-radius: 10px;
}

.pink{
    background-color: pink;
    background-size: 100% auto;
    padding: 50px ;
    border-radius: 10px;
}

.cont{
    margin-top: 50px;
}