.itemView {
    margin-top: 80px;
}

.descripcion{
    margin-top: 50px;
    margin-left: 43%;
}

img {
    width: 500px;
    height: 500px;
}

button{
    width: 200px;
    height: 70px;
    margin-left: 42%;
}

