.containerItems{
    margin-top: 50px;
}

.jumbotron{
    background: url("https://hdwallsource.com/img/2019/5/makeup-brushes-hd-wallpaper-68224-70549-hd-wallpapers.jpg");
    height: 400px;
    background-size: 100%;
    color: white;
}

.card{
    margin: 20px
}

img{
    height: 250px;
}

button{
    margin: 5px;
}