<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Blue Makeups</h1>
      <p class="lead"><strong>Todo lo necesario para que te veas hermosa</strong></p>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div *ngFor="let producto of productos">
            <div  class="card" style="width: 18rem;" >
                <img src="{{producto.imgUrl}}" class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
                <h5 class="card-title">{{producto.precio}}</h5>
                <button class="btn btn-primary" (click)="verDetalle(producto)">Ver Producto</button>
                <button class="btn btn-success" (click)="agregarAlCarrito(producto)" >Añadir al carrito</button>
                </div>
            </div>
        </div>
    </div>    
</div>

