.containerItems{
    margin-top: 50px;
}

.jumbotron{
    background: url("https://thumbs.dreamstime.com/b/las-artesan%C3%ADas-de-bamb%C3%BA-se-cierran-para-arriba-118356612.jpg");
    background-size: 100%;
}