<div class="container pedidos">
    <h1>Tus pedidos pendientes</h1>
    <div class="container">
        <div *ngFor="let pedido of pedidos">
            <div class="pedido">
                <h3>{{pedido.pedido.cliente}}</h3>
                <h5>{{pedido.pedido.direccion}}</h5>
                <h5>{{pedido.pedido.celular}}</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let producto of pedido.pedido.carrito.listaProductos">
                        <tr>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.cantidadEnCarrito}}</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" (click)="despacharPedido(pedido.pedido)">Despachar</button>
            </div>
        </div>
    </div>
</div>