<div class="container">
    <h1>Tus pedidos pendientes</h1>
    <div class="container pedidos">
        <!--<div class="card" *ngFor="let pedido of pedidos">
            <div  class="card" style="width: 18rem;" >
                <img src="{{pedido.}}" class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title">{{pedido.nombre}}</h5>
                <p class="card-text">{{pedido.descripcion}}</p>
                <h5 class="card-title">{{pedido.precio}}</h5>
                <button class="btn btn-primary" (click)="verDetalle(producto)">Ver Producto</button>
                <button class="btn btn-success" (click)="agregarAlCarrito(producto)" >Añadir al carrito</button>
                </div>
            </div>-->
        </div>
    </div>

