.pedidos{
    margin-top: 5ch;
    height: 500px;
    width: 500px;
}

.pedido{
    margin-bottom: 50px;
    border: 2px solid pink;
    border-radius: 3em;
    padding: 30px;
}

#page-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;  
}

