<app-encabezado></app-encabezado>
<router-outlet></router-outlet>
<!-- Footer -->

<footer class="page-footer pt-4">
    <div class="container">
        <!-- Footer Links -->
        <!-- Grid row -->
        <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-1">
                <!-- ICON -->
                <a href="https://api.whatsapp.com/send?phone=573127852453"><img class="img"
                        src="https://cdn.icon-icons.com/icons2/1463/PNG/128/whatsapp-black_100119.png" /></a>
            </div>
            <div class="col-lg-1">
                <!-- ICON -->
                <a href="https://www.instagram.com/bluemakeups.c/?hl=es-la"><img class="img"
                        src="https://image.flaticon.com/icons/png/128/2111/2111679.png" /></a>
            </div>
            <div class="row">
                <div class="col-lg-5">
                </div>
            </div>
        </div>
        <!-- Grid row -->
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright <strong>BlueMakeups</strong>
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->