  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home" routerLink="/home">Blue Makeups</a>  
    <div class="collapse navbar-collapse" id="links">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/#" onclick="event.preventDefault()" id="login" (click)="loguear()" >Iniciar sesion</a>
        <a class="nav-item nav-link"  routerLink="/shopCart">Carrito</a>
        <a class="nav-item nav-link"  id="pedidos" routerLink="/pedidos">Pedidos</a>
        <a class="nav-item nav-link"  id="agregar" routerLink="/agregarProductos">Agregar productos</a>
        <a class="nav-item nav-link disabled" #nombreUsuario></a>
        <img #imgUsuario class="googleAuthImg" id="usrImg">
      </div>
    </div>
  </nav>