table{
    margin-top: 100px;
}

h1{
    margin-top: 60px;
}

.cantidad {
    margin-right: 10px;
    margin-left: 10px;
}

#page-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;  
}