/* You can add global styles to this file, and also import other style files */
.page-footer {
    background-color: darkcyan;
    display: grid;
    margin-top: 100px;
}

body{
    position:absolute; top:0; bottom:0; right:0; left:0;
}

.container {
    align-items: center;
}

img{
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}

#page-container {
        min-height: 100vh; /* will cover the 100% of viewport */
        overflow: hidden;
        display: block;
        position: relative;  
}
  
  #footer {
    position: inherit;  
    bottom: 0;
    width: 100%;
  }